[submodule "docker"]
	path = docker
	url = https://github.com/dogusyuksel/embedded_docker
[submodule "thirdparty/STM32F103X_HAL"]
	path = thirdparty/STM32F103X_HAL
	url = https://github.com/STMicroelectronics/stm32f1xx_hal_driver.git
